h1{
    text-align: center;
    color: white;
    margin: 1em;
}

.app{
    background-image: url("Gym-Background-Final.jpg");
    background-size: cover;
    height: 100vh;

}
 .workout-table{
    background-color:white;
     margin:2em;
     max-height:75vh;
    overflow:auto;
 }

 .jumbotron{
     margin: 3em;
 }

 .jumbotron-text{
     color: black;
 }